{% extends "layout/base.html" %}

{% block 'title' %} Lista de Deseos {% endblock  %}

{% block 'content' %}
    <h1>Mi lista de deseos</h1>
    <div class="main">
        <div class="container">
            <div> </div>
            <a id='create' href="{% url 'create' %}">Nuevo producto</a>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} id="alert-success" class="alert-success"{% endif %}>{{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if wishes|length != 0 %}
            {% for wish in wishes %}
                <li class="list">
                        <a href="{% url 'delete' id=wish.id %}"><img class="btn-del" src="/static/svg/delete.svg" alt="del"></a>
                        <div class="img-box">
                            <img src="{{ wish.image }}" alt="{{ wish }}">
                        </div>
                        <span>{{ wish }}</span>
                        <span>{{ wish.price }}€</span>
                        <span>{{ wish.stock|yesno:'Disponible, Fuera de Stock' }}</span>
                        <span id="wrap">
                            <span id="fecha">Agregado en: {{ wish.date }}</span>
                            <button class="cart">Añadir al carrito</button>
                        </span>
                </li>
                <hr>
            {% endfor %}
        {% else %}
            <h2 class="empty-txt">Aun no has agregado productos a tu lista de deseos</h2>
        {% endif %}
    </div>
{% endblock  %}